.category-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: 50px;
  row-gap: 50px;
  margin: 40px 0;
}
.title {
  text-decoration: none;
  color: black;
}
